<div class="container">
  <div class="row">
    <div class="col-md-8 topic-area">
      <% if @topics.any? %>
        <ol class="topics">
          <%= render @topics %>
        </ol>
        <div class="paginate-area">
          <%= paginate @topics %>
        </div>
      <% else %>
        トピックはまだありません
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render "shared/category_index", categories: @categories %>
    </div>
  </div>
</div>