<% if @selected_category.present? %>
  <% provide(:title, @selected_category.category_name ) %>
<% else %>
  <% provide(:title, 'トピック一覧') %>
<% end %>
<div class="container">
  <h2 class="page-tit">
    <% if @selected_category.present? %>
      <p>トピック一覧</p>
      <%= "カテゴリー：#{@selected_category.category_name}" %>
    <% elsif @search_word.present? %> 
      <p>トピック一覧</p>
      <%= "検索：#{@search_word}" %>
    <% else %>
      <p>トピック一覧</p>
    <% end %>
  </h2>
  <ol class="topics">
    <%= render @topics %>
  </ol>
  <%= paginate @topics %>
</div>