<li class="search-form mx-auto">
  <%= search_form_for @search, url: topics_path do |f|%>
    <%= f.search_field :title_or_description_or_comments_content_cont, placeholder: "トピック検索", class: "serch-field input-xlarge" %>
    <%= button_tag type: 'submit', class: "search-btn" do%>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</li>