@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*universal*/

body{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #efefef;
}

section{
  overflow: auto;
}

textarea{
  resize:vertical;
}

li{
  list-style: none;
  padding: 5px 0;
}

ul, ol{
  padding-inline-start: 0px;
}

a{
  word-break: break-all;
}

h1,h2{
  line-height: 1;
}

h1{
  font-size: 2em;
  margin-bottom: 30px;
}

h2{
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #464646;
}

p{
  font-size: 1.1em;
  line-height: 1.5em;
}

.btn{
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: solid 2px rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}

.btn:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  border: solid 2px rgba(0,0,0,0.6);
}

.field{
  margin: 30px 0;
}

.actions{
  text-align: center;
}

.center{
  text-align: center;
}

.page-tit{
  padding:20px 0;
  text-align: center;
  font-size: 22px;
}

.ui-helper-hidden-accessible{
  display: none;
}

.form-high{
  line-height: 3.5em;
}

/* header */
header {
  padding: 5px 0 5px;
  background-color: #ef5e09eb;
}

#logo{
  float: left;
  font-weight: bold;
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.search-form{
  padding-top: 20px;
  display: inline-block;
}

.navbar-right{
  float: right;
  padding-top: 20px;
  li{
    float: left;
    text-decoration: none;
    a{
      color: #fff;
    }
    a:hover{
      background-color: #ef5e09eb;
      border-bottom: solid 1px #fff;
    }
  }
  .testlogin-btn{
    display: inline-block;
    text-align: center;
    background-color:#fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0,0,0,0.7);
  }
}

.navbar-toggler{
  display: none;
}

/*footer*/
footer {
  margin-top: 60px;
  padding: 10px 0;
  .copyright{
    float: right;
  }
}

/* category_index */
.category-area{
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 15px;
  p{
    color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-bottom: solid 1px rgba(0,0,0,0.7);
    padding: 10px 0;
  }
  ul{
    padding: 10px;
  }
  a{
    color: #000;
    text-decoration: none;
  }
}

/* user_info */
.user-area{
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 30px;
  p{
    color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-bottom: solid 1px rgba(0,0,0,0.7);
    padding: 10px 0;
  }
  .user-area-info{
    padding: 15px;
  }
  .user-edit-area{
    margin-top: 20px;
    text-align: center;
  }
  .user-name{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
  }
  .user-edit-btn{
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,0.6);
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    padding: 3px;
  }
}

.user-index-area{
  margin-top: 20px;
  text-align: right;
}

/* user form */
.user-form{
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
}

.user-form-text{
  margin: 15px 0;
  text-align: center;
}

.user-form-bottom{
  max-width: 700px;
  margin: 10px auto 0;
  p{
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    font-weight: 600;
  }
  .user-form-delete{
    text-align: right;
  }
}
.user-form-test{
  text-align: center;
  margin-bottom: 70px;
  .testlogin-btn{
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    color: #fff;
  }
  .testlogin-btn:hover {
    background: rgba(0,0,0,0.4);
    border: solid 2px #ef5e09eb;
  }
}

/* user index */
.each-user-area{
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.each-user-name{
  color: rgba(0,0,0,0.7);
  font-size: 16px;
}

/* topic form */
.topic-form{
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
}

/* topic */
.topics{
  .topic-wrap{
    background: #fff;
    border-radius: 3px;
    padding: 35px 20px;
    margin-bottom: 30px;
    position: relative;
    a{
      color: rgba(0,0,0,0.7);
      text-decoration: none;
    }
    .topic-title{
      font-size: 18px;
      color: rgba(0,0,0,0.8);
      padding-bottom: 5px;
      border-bottom: dashed 2px rgba(0,0,0,0.5);
    }
    .topic-time{
      text-align: right;
    }
    .topic-description{
      padding: 10px;
    }
    .topic-bottom{
      border-top: solid 1px rgba(0,0,0,0.5);
      padding-top: 10px;
    }
    .topic-category{
      position: absolute;
      bottom: 10px;
      right: 20px;
      ul{
        display: inline-block;
        li{
          background: rgba(0,0,0,0.2);
          padding: 1px 3px;
          border-radius: 2px;
          display: inline-block;
          a{
            font-size: 10px;
            color: #000;
          }
        }
      }
    }
    .topic-count{
      padding-left: 10px;
      i{
        padding-right: 5px;
      }
    }
  }
}

/* topic show */
.topic-show-head{
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 40px;
  margin-bottom: 10px;
  position: relative;
  .topic-show-tit{
    border-bottom: dashed 2px rgba(0,0,0,0.3);
  }
  .topic-show-time{
    text-align: right;
  }
  .topic-show-description{
    padding: 10px;
    margin: 10px 0;
  }
  .topic-show-user{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .topic-show-category{
    position: absolute;
    bottom: 5px;
    right: 20px;
    ul{
      display: inline-block;
      li{
        background: rgba(0,0,0,0.5);
        padding: 5px;
        border-radius: 3px;
        display: inline-block;
        a{
          color: #fff;
        }
      }
    }
  }
}

.topic-show-edit{
  text-align: right;
  margin-bottom: 20px;
  span{
    padding: 0 10px;
  }
}

.topic-show-area{
  margin-top: 30px;
  padding: 0 20px;
}

.topic-comment-form{
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(0,0,0,0.3);
  .comment-text-area{
    line-height: 3.5em;
  }
  .actions{
    text-align: right;
    margin-top: 10px;
  }
}

.comment{
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
  .comment-info{
    font-size: 1.1em;
    padding-bottom: 10px;
    .comment-user{
      font-weight: 600;
    }
  }
  .comment-delete{
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}

@media (max-width: 768px) {
  header{
    position: relative;
    .navbar-toggler{
      position: absolute;
      top: 30px;
      right: 30px;
      color: #fff;
      display: block;
      i{
        font-size: 18px;
      }
    }
    .navbar-collapse{
      border-top: none;
      box-shadow: none;
    }
    #Navber{
      padding-top: 45px;
    }
  }
}

@media (max-width: 612px) {
  header{
    #Navber{
      padding-top: 0px;
    }
  }
}
